﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@inject IHttpContextAccessor http
@{
    var lang = http.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
    var controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
    var action = ViewContext.RouteData.Values["action"]?.ToString() ?? "Index";
    var langFlag = "ar";
    if (lang == "en-US")
    {
        langFlag = "en";
    }
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Tilte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="YMAS">

    <style>
        a {
            color: #333333;
            text-decoration: none;
        }
    </style>

    <!-- Rtl Ltr CSS -->
    
    @if (lang == "en-US")
    {
        <link href="~/css/en.css" rel="stylesheet">
    }
    else if (lang == "ar-AE")
    {
        <link href="~/css/ar.css" rel="stylesheet">
    }
    else
    {
        <link href="~/css/ar.css" rel="stylesheet">
    }

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.js"></script>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->

    <link href="~/css/app-skin-ltr.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
</head>
<body class="overflow-hidden @langFlag">
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- Overlay Div -->
@* <div id="overlay" class="transparent"></div> *@

    <div class="">
        <div class="col-md-12" style="padding-top: 15px">

            @RenderBody()

        </div>
    </div>


<a href="#" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>




<!-- Jquery -->
<script src="~/js/jquery-1.10.2.min.js"></script>

<!-- Bootstrap -->
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Jquery validation-->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<!-- modernizer -->
<script src="~/js/modernizr.min.js"></script>

<!-- Flot -->
<script src="~/js/jquery.flot.min.js"></script>

<!-- Morris -->
<script src='~/js/rapheal.min.js'></script>
<script src="~/js/morris.min.js"></script>

<!-- Colorbox -->
<script src="~/js/jquery.colorbox.min.js"></script>

<!-- Sparkline -->
<script src="~/js/jquery.sparkline.min.js"></script>

<!-- Pace -->
<script src="~/js/pace.min.js"></script>

<!-- Popup Overlay -->
<script src="~/js/jquery.popupoverlay.min.js"></script>

<!-- Slimscroll -->
<script src="~/js/jquery.slimscroll.min.js"></script>

<!-- Modernizr -->
<script src="~/js/modernizr.min.js"></script>

<!-- Cookie -->
<script src="~/js/jquery.cookie.min.js"></script>

<!-- DataTables -->
@*<script src="~/lib/DataTableNew/js/jquery.dataTables.min.js"></script>*@
@*<script src="~/lib/DataTableNew/js/dataTables.bootstrap.min.js"></script>*@
<script src="~/lib/dataTables/datatables.min.js"></script>
<script src="~/lib/dataTables/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/lib/dataTables/Buttons/js/buttons.bootstrap.min.js"></script>

<!-- select2 -->
<script src="~/lib/select2/js/select2.js"></script>

<!-- sweet alert -->
<script src="~/lib/sweet-alert/sweetalert.min.js"></script>


<!-- notifications -->
<script src="~/js/notify.min.js"></script>

<!-- jquery ui datepicker -->

<script src="~/lib/ui-datepicker/jquery-ui.min.js"></script>
<script src="~/lib/ui-datepicker/jquery-ui-timepicker-addon.js"></script>

<!-- Switchery -->
<script src="~/lib/switchery/switchery.min.js"></script>

<script src="~/js/app/app.js"></script>
<script src="~/js/app/MyScript.js"></script>
<script src="~/js/pages.js"></script>






@RenderSection("scripts", required: false)

<script>
    jQuery(window).load(function() {
        // Page Preloader
        jQuery('#loader').fadeOut();
        jQuery('#loader-wrapper').delay(350).fadeOut(function() {
            jQuery('body').delay(350).css({ 'overflow': 'visible' });
        });
    });
</script>

<script>
    $(function() {
        
         //open the previus active menu
    var i = parseInt(getCookie("activeMenu")) - 1;
    if (i > 0) {
        $("li.openable:eq(" + i + ")>a").trigger("click").css("background", "#394754").css("color", "#fff");
    }

    // controle validation inputs       

    $(".validation-summary-errors").hide();
    if ($(".validation-summary-errors").find("ul>li").html() !== "") {
        $(".validation-summary-errors").show();
    }
    $.validator.setDefaults({
        ignore: 'input[type=hidden], .select2-input, .select2-focusser'
    });
    $.extend( $.validator.messages, {
        required: "هذا الحقل إلزامي",
        remote: "يرجى تصحيح هذا الحقل للمتابعة",
        email: "رجاء إدخال عنوان بريد إلكتروني صحيح",
        url: "رجاء إدخال عنوان موقع إلكتروني صحيح",
        date: "رجاء إدخال تاريخ صحيح",
        dateISO: "رجاء إدخال تاريخ صحيح (ISO)",
        number: "رجاء إدخال عدد بطريقة صحيحة",
        digits: "رجاء إدخال أرقام فقط",
        creditcard: "رجاء إدخال رقم بطاقة ائتمان صحيح",
        equalTo: "رجاء إدخال نفس القيمة",
        extension: "رجاء إدخال ملف بامتداد موافق عليه",
        maxlength: $.validator.format( "الحد الأقصى لعدد الحروف هو {0}" ),
        minlength: $.validator.format( "الحد الأدنى لعدد الحروف هو {0}" ),
        rangelength: $.validator.format( "عدد الحروف يجب أن يكون بين {0} و {1}" ),
        range: $.validator.format( "رجاء إدخال عدد قيمته بين {0} و {1}" ),
        max: $.validator.format( "رجاء إدخال عدد أقل من أو يساوي {0}" ),
        min: $.validator.format( "رجاء إدخال عدد أكبر من أو يساوي {0}" )
    } );


    $("select.required").each(function() {
        $(this).trigger('blur');
        $(this).rules('add', 'required');
    });
    $('input,select,textarea').each(function () {
        var req = $(this).attr('data-val-required');
        if ($(this).hasAttr('data-val-required') || $(this).hasClass("required")) {
            var label = $('label[for="' + $(this).attr('id') + '"]');
            var text = label.text();
            if (text.length > 0) {
                label.append('<span style="color:red"> *</span>');
            }
        }
    });

    })
</script>
</body>
</html>
