﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Matrix.Extensions
@using Ymas.Extensions
@inject IHttpContextAccessor http
@{
    var lang = http.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
    var controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
    var action = ViewContext.RouteData.Values["action"]?.ToString() ?? "Index";
    var langFlag = "ar";
    if (lang == "en-US")
    {
        langFlag = "en";
    }
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Tilte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="YMAS">

    <style>
        a {
            color: #333333;
            text-decoration: none;
        }
    </style>
    <!-- Rtl Ltr CSS -->

    
        <link href="~/css/ar.css" rel="stylesheet">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.js"></script>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->

    <link href="~/css/app-skin-ltr.css" rel="stylesheet">
    @* <link href="~/css/main.css" rel="stylesheet"> *@
     @* <link href="~/myIcons.css" rel="stylesheet"> *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css" rel="stylesheet"/>

    
</head>
<body class="overflow-hidden" data-lang="@langFlag">

<!-- Preloader -->
<!-- <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div> -->

<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>

<div id="wrapper" class="preload">
<div id="top-nav" class="skin-6 fixed">


    <div class="brand">
        <a href="/">Matrix</a>
        <span class="text-toggle"></span>
    </div><!-- /brand -->

    <button type="button" class="navbar-toggle pull-right" id="sidebarToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button type="button" class="navbar-toggle pull-right hide-menu" id="menuToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    <div class="app-title pull-right hidden-xs" style="color:white">
        <h4>@_Translate.App_Title</h4>
    </div>
    <ul class="nav-notification clearfix">

        @*@Html.Action("GetNotifications", "Notifications")*@
        @* @await Component.InvokeAsync("NotificationComponentcs") *@
        <li class="profile dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<strong>@(lang == "ar-AE" ? User.Identity.GetArabicName() : User.Identity.GetEnglishName())</strong>
						<span><i class="fa fa-chevron-down"></i></span>
					</a>
					<ul class="dropdown-menu">
						<li>
                            <a class="clearfix" href="#">
                                <div class="img-profile" style="background-image: url(/images/user1.png)"></div>
                                <div class="detail">
                                    <strong>@(lang == "ar-AE" ? User.Identity.GetArabicName() : User.Identity.GetEnglishName())</strong>
                                    <p class="grey">@(lang == "ar-AE" ? User.Identity.GetArabicName() : User.Identity.GetEnglishName())</p>
                                </div>
                            </a>
						</li>
                        <li>
                        @if (lang == "ar-AE")
                                {
                                    @Html.ActionLink("English", "ChangeCulture", "Home", new {culture = "en-US", returnUrl = http.HttpContext.Request.Path}, null)
                                }
                                else
                                {
                                    @Html.ActionLink("Arabic", "ChangeCulture", "Home", new {culture = "ar-AE", returnUrl = http.HttpContext.Request.Path}, null)
                                }
                                </li>
                            @* <li><a tabindex="-1" href="#" class="main-link" onclick="javascript:introJs().start();"><i class="fa fa-info-circle fa-lg"></i> Help me</a></li> *@
						<li class="divider"></li>
						<li><a tabindex="-1" class="main-link logoutConfirm_open" href="#logoutConfirm"><i class="fa fa-lock fa-lg"></i> @_Translate.LogOut</a></li>
					</ul>
				</li>
       
        <!-- <li class="profile " style="background-color: red">
            <a style="color: white" tabindex="-1" class="main-link logoutConfirm_open" href="#logoutConfirm">
                <i class="fa fa-power-off fa-lg"></i> @_Translate.LogOut
            </a>
        </li> -->

    </ul>
</div><!-- /top-nav-->

<aside class="fixed skin-6" >
<div class="sidebar-inner scrollable-sidebars" >
<div class="size-toggle">
    <a class="btn btn-sm" id="sizeToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <a class="btn btn-sm pull-left logoutConfirm_open" href="#logoutConfirm">
        <i class="fa fa-power-off"></i>
    </a>
</div><!-- /size-toggle -->
<div class="user-block clearfix">
    <div class="col-xs-12">
        <img src="~/images/user1.png" style="margin: 5px auto; float: none" class="center">
    </div>
    <div class="center" style="color:#BECFE0">
        <strong>@(lang == "ar-AE" ? User.Identity.GetArabicName() : User.Identity.GetEnglishName())</strong>
    </div>
</div><!-- /user-block -->

<!--menu-->
<div class="main-menu">
<ul>
    <li >
        <a  href="#" class="waves-effect waves-primary">
            <span class="menu-icon">
                <i class="fa fa-home fa-lg"></i>
            </span>
            <span class="text"> @_Translate.Home </span>
            <span class="menu-hover"></span>
        </a>
    </li>
    
    <li >
        <a  href="/Home/maps" class="waves-effect waves-primary">
            <span class="menu-icon">
                <i class="fa fa-map fa-lg"></i>
            </span>
            <span class="text"> الخرائط اللأمنية </span>
            <span class="menu-hover"></span>
        </a>
    </li>
    
    <li >
        <a  href="/Home/methods" class="waves-effect waves-primary">
            <span class="menu-icon">
                <i class="fa fa-wrench fa-lg"></i>
            </span>
            <span class="text"> الأساليب الاجرامية     </span>
            <span class="menu-hover"></span>
        </a>
    </li>

        
    <li >
        <a  href="#" class="waves-effect waves-primary">
            <span class="menu-icon">
                <i class="fa fa-users fa-lg"></i>
            </span>
            <span class="text"> أصحاب السوابق </span>
            <span class="menu-hover"></span>
        </a>
    </li>
    
    <li >
        <a  href="#" class="waves-effect waves-primary">
            <span class="menu-icon">
                <i class="fa fa-archive fa-lg"></i>
            </span>
            <span class="text"> المسروقات  </span>
            <span class="menu-hover"></span>
        </a>
    </li>

    
        
    <li >
        <a  href="#" class="waves-effect waves-primary">
            <span class="menu-icon">
                <i class="fa fa-users fa-lg"></i>
            </span>
            <span class="text"> العصابات  </span>
            <span class="menu-hover"></span>
        </a>
    </li>
    
            
    <li>
        <a  href="@Url.Action("UnknownCases","Home")" class="waves-effect waves-primary">
            <span class="menu-icon">
                <i class="fa fa-users fa-lg"></i>
            </span>
            <span class="text"> الجرائم المجهولة  </span>
            <span class="menu-hover"></span>
        </a>
    </li>
    
    <li class="openable">
        
        <a href="#">
            <span class="menu-icon">
                <i class="fa fa-lock fa-lg"></i>
            </span>
            <span class="text">
                @_Translate.Manage_Permissions
            </span>
            <span class="menu-hover"></span>
        </a>
        <ul class="submenu">
            <li>
                <a href="@Url.Action("Index", "Account")">
                    <span class="menu-icon">
                        <i class="fa fa-users fa-lg"></i>
                    </span>
                    <span class="submenu-label">@_Translate.System_Users</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Roles", "UsersAdmin")">
                    <span class="menu-icon">
                        <i class="fa fa-legal fa-lg"></i>
                    </span>
                    <span class="submenu-label">@_Translate.Users_Groups</span>
                </a>
            </li>
            @* <li><a href="@Url.Action("Index", "StandardPermissions")"><span class="submenu-label">@_Translate.Standards_Permissions</span></a></li> *@

        </ul>
    </li>
        


</ul>
</div><!-- /main-menu -->
			</div><!-- /sidebar-inner scrollable-sidebar -->
		</aside>
<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i><a href="/"> @_Translate.Home</a>
            </li>
            @if (action != "Index")
            {
                <li>
                    <a href="@Url.Action("Index", controller)"> @MyStatics.FindResByName(controller)</a>
                </li>
            }
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="padding-md">
        @if (TempData["Message"] != null)
        {
            <div class="row">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong></strong> @TempData["Message"]
                </div>

            </div>
        }
        @RenderBody()

    </div>


</div><!-- /main-container -->
@*<!-- Footer*@
@*================================================== -->*@
<footer class="footer">
        <div class="col-sm-12 text-center"  >
           
        <p class="no-margin text-white">
            <strong class="text-info">Matrix V 1.0 </strong>
        </p>
        </div>

</footer><!-- /.col -->


</div><!-- /wrapper -->
<a href="#" id="scroll-to-top" class="hidden-print">
    <i class="fa fa-chevron-up"></i>
</a>


<!-- Logout confirmation -->

<div class="custom-popup width-100" id="logoutConfirm" style="display: none">
    <div class="padding-md">
        <h4 class="m-top-none"> @_Translate.DoYouWantToLogout </h4>
    </div>
    <div class="text-center">
        <a class="btn btn-success m-right-sm" href="@Url.Action("LogOut", "Account")">@_Translate.LogOut</a>
        <a class="btn btn-danger logoutConfirm_close">@_Translate.Cancel</a>
    </div>
</div>


<!-- Jquery -->
<script src="~/js/jquery-1.10.2.min.js"></script>

<!-- Bootstrap -->
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Jquery validation-->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<!-- Jquery colorbox-->
<script src="~/lib/jquery-colorbox/jquery.colorbox-min.js"></script>


<!-- modernizer -->
<script src="~/js/modernizr.min.js"></script>

<!-- Flot -->
<script src="~/js/jquery.flot.min.js"></script>

<!-- Morris -->
<script src='~/js/rapheal.min.js'></script>
<script src="~/js/morris.min.js"></script>

<!-- Colorbox -->
<script src="~/js/jquery.colorbox.min.js"></script>

<!-- Sparkline -->
<script src="~/js/jquery.sparkline.min.js"></script>

<!-- Pace -->
<script src="~/js/pace.min.js"></script>

<!-- Popup Overlay -->
<script src="~/js/jquery.popupoverlay.min.js"></script>

<!-- Slimscroll -->
<script src="~/js/jquery.slimscroll.min.js"></script>

<!-- Modernizr -->
<script src="~/js/modernizr.min.js"></script>

<!-- Cookie -->
<script src="~/js/jquery.cookie.min.js"></script>

<!-- DataTables -->
<script src="~/lib/dataTables/datatables.min.js"></script>
<script src="~/lib/dataTables/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/lib/dataTables/Buttons/js/buttons.bootstrap.min.js"></script>
<script src="~/lib/dataTables/Buttons/js/buttons.flash.min.js"></script>
<script src="~/lib/dataTables/Buttons/js/jszip.min.js"></script>
<script src="~/lib/dataTables/Buttons/js/vfs_fonts.js"></script>
<script src="~/lib/dataTables/Buttons/js/buttons.html5.min.js"></script>
<script src="~/lib/dataTables/Buttons/js/buttons.print.min.js"></script>
<script src="~/lib/dataTables/Buttons/js/buttons.colVis.min.js"></script>
<script src="~/lib/dataTables/Select/dataTables.select.min.js"></script>

<!-- select2 -->
<script src="~/lib/select2/js/select2.js"></script>

<!-- sweet alert -->
<script src="~/lib/sweet-alert/sweetalert.min.js"></script>


<!-- notifications -->
<script src="~/js/notify.min.js"></script>

<!-- jquery ui datepicker -->

<script src="~/lib/ui-datepicker/jquery-ui.min.js"></script>
<script src="~/lib/ui-datepicker/jquery-ui-timepicker-addon.js"></script>
@* @if (lang == "ar-AE") *@
@* { *@
@*     <script src="~/lib/ui-datepicker/datepicker-ar.js"></script> *@
@* } *@

<!-- Switchery -->
<script src="~/lib/switchery/switchery.min.js"></script>



<!-- MaskInput -->
<script src="~/js/jquery.maskedinput.min.js"></script>

<!-- toast -->
<script src="~/js/jquery.toast.min.js"></script>

<script src="~/js/app/app.js"></script>
<script src="~/js/app/MyScript.js"></script>
<script src="~/js/pages.js"></script>


<script>

    $(function() {

        var currLang = '@(lang == "ar-AE" ? "rtl" : "ltr")';

        document.LoadGlobalConfigurations(currLang);

        //open the previus active menu
        var i = parseInt(getCookie("activeMenu")) - 1;
        if (i > 0) {
            $("li.openable:eq(" + i + ")>a").trigger("click").css("background", "#394754").css("color", "#fff");
        }

        // controle validation inputs       

        $(".validation-summary-errors").hide();
        if ($(".validation-summary-errors").find("ul>li").html() !== "") {
            $(".validation-summary-errors").show();
        }
        $.validator.setDefaults({
            ignore: 'input[type=hidden], .select2-input, .select2-focusser'
        });
        $.extend($.validator.messages,
            {
                required: "هذا الحقل إلزامي",
                remote: "يرجى تصحيح هذا الحقل للمتابعة",
                email: "رجاء إدخال عنوان بريد إلكتروني صحيح",
                url: "رجاء إدخال عنوان موقع إلكتروني صحيح",
                date: "رجاء إدخال تاريخ صحيح",
                dateISO: "رجاء إدخال تاريخ صحيح (ISO)",
                number: "رجاء إدخال عدد بطريقة صحيحة",
                digits: "رجاء إدخال أرقام فقط",
                creditcard: "رجاء إدخال رقم بطاقة ائتمان صحيح",
                equalTo: "رجاء إدخال نفس القيمة",
                extension: "رجاء إدخال ملف بامتداد موافق عليه",
                maxlength: $.validator.format("الحد الأقصى لعدد الحروف هو {0}"),
                minlength: $.validator.format("الحد الأدنى لعدد الحروف هو {0}"),
                rangelength: $.validator.format("عدد الحروف يجب أن يكون بين {0} و {1}"),
                range: $.validator.format("رجاء إدخال عدد قيمته بين {0} و {1}"),
                max: $.validator.format("رجاء إدخال عدد أقل من أو يساوي {0}"),
                min: $.validator.format("رجاء إدخال عدد أكبر من أو يساوي {0}")
            });


        $("select.required").each(function() {
            $(this).trigger('blur');
            $(this).rules('add', 'required');
        });

        $('input,select,textarea').each(function() {
            var req = $(this).attr('data-val-required');
            if ($(this).hasAttr('data-val-required') || $(this).hasClass("required")) {
                var label = $('label[for="' + $(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });


        $(".button-menu-mobile").click(function() {
            if ($("#wrapper").hasClass("enlarged")) {
                $("#EmpUserName").hide();
                $(".logo").hide();
            } else {
                $("#EmpUserName").show();
                $(".logo").show();

            }
        });

        $(".validation-summary-errors").hide();
        if ($(".validation-summary-errors").find("ul>li").html() !== "") {
            $(".validation-summary-errors").show();
        }

        $(".datepicker , .datetimepicker").prop("type", "text");

        $("#main-container").css("min-height", ($(window).height() - 50));

    });
</script>
@RenderSection("scripts", required: false)

</body>
</html>
