﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IHttpContextAccessor http
@{
    var lang = http.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
    var logo = @Configuration.GetSection("Template")["Logo"];
    logo = string.IsNullOrEmpty(logo) ? "dcas_logo.png" : logo;

    var video = @Configuration["Video"];
    video = string.IsNullOrEmpty(video) ? "matrix.mp4" : video;

    var controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
    var action = ViewContext.RouteData.Values["action"]?.ToString() ?? "Index";
}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>@_Translate.App_Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        #snackbar {
            /* visibility: hidden; /* Hidden by default. Visible on click !1! */
            width: 100%; /* Set a default minimum width */
            background-color: #333; /* Black background color */
            color: #fff; /* White text color */
            text-align: center; /* Centered text */
            padding: 16px; /* Padding */
            position: fixed; /* Sit on top of the screen */
            z-index: 1; /* Add a z-index if needed */
            left: 0%; /* Center the snackbar */
            bottom: 0px; /* 30px from the bottom */
            border-top: white 1px solid;
            opacity: 0.7;
            
            -webkit-animation: fadein 1.5s;
            animation: fadein 0.5s;
        }

        /* Animations to fade the snackbar in and out */
        @@-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;} 
            to {bottom: 30px; opacity: 0.7;}
        }

        @@keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 0.7;}
        }
        
       
    </style>

  
        <link href="~/css/ar.css" rel="stylesheet">
        <style>
            .gov-logo {
                float: left;
            }
            
            .entity-logo {
                float: right;
            }
        </style>
   

    <link href="~/css/main.css" rel="stylesheet">

    <style>
        #myVideo {
            /* position: absolute; */
            /* left: 0; */
            /* top: 0; */
            /* min-width: 100%; */
            /* min-height: 100%; */
        }

        html, body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: fixed;
        }

        #myVideo {
            height: 100%;
            width: 177.77777778vh; /* 100 * 16 / 9 */
            min-width: 100%;
            min-height: 56.25vw; /* 100 * 9 / 16 */
            object-fit: cover;
        }
        
        .login-wrapper {
            top: 100px !important;
        }
      
    </style>

</head>

<body>
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
@* <div style="height: 100%; position: absolute;  width: 100%; background: url('@Url.Content("~/images/4g-model-logo.png")'); opacity: 0.2; filter: alpha(opacity=30);"></div> *@

<video autoplay muted loop id="myVideo">
    <source src="~/video/@video" type="video/mp4">
</video>

<div class="navbar navbar-inverse navbar-fixed-top" style="opacity: 0.6" >
    <div class="row">
        <div class="col-xs-3" style="float: right !important">
            <img class="img-responsive entity-logo  animation-delay2 fadeInRight" style="height: 70px;" src="~/images/logo.png"/>
        </div>
        <div class="col-xs-6" style="float: right !important">
            <h2 class="fadeInUp animation-delay3 center" style="font-weight: bold; text-align: center; font-size:2vw; padding: 0; margin-top: 25px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);">
                <span class="text-white">@_Translate.App_Title </span> 
            </h2>
        </div>
        <div class="col-xs-3" style="float: left !important">
            <img class="img-responsive gov-logo animation-delay2 fadeInLeft" style="height: 70px;" src="~/images/gov-logo.png"/>
        </div>
    </div>

</div>

<div class="login-wrapper hide">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div style="margin: 0px auto;">
                    @* <h2 class="fadeInUp animation-delay8 center" style="font-weight: bold; text-align: center; margin-bottom: 20px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);"> *@
                    @* <span class="text-white">@_Translate.App_Title </span> <br/> *@
                    @* </h2> *@
                </div>
            </div>
        </div>
        <div class="animation-delay4 bounceIn" style="padding-top: 150px">
            @RenderBody()
        </div><!-- /login-widget -->
    </div>
</div><!-- /login-wrapper -->

<div id="snackbar">
    <a id="skip" class="text-white" href="#">@_Translate.Skip</a>
</div>


<!-- Jquery -->
<script src="~/js/jquery-1.10.2.min.js"></script>

<!-- Bootstrap -->
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>


<!-- modernizer -->
<script src="~/js/modernizr.min.js"></script>


<!-- Popup Overlay -->
<script src="~/js/jquery.popupoverlay.min.js"></script>

<!-- Slimscroll -->
<script src="~/js/jquery.slimscroll.min.js"></script>

<!-- Modernizr -->
<script src="~/js/modernizr.min.js"></script>

<!-- Cookie -->
<script src="~/js/jquery.cookie.min.js"></script>

@RenderSection("scripts", required: false)

<script>
    jQuery(window).load(function() {
        // Page Preloader
        jQuery('#loader').fadeOut();
        jQuery('#loader-wrapper').delay(350).fadeOut(function() {
            jQuery('body').delay(350).css({ 'overflow': 'visible' });
            $(".open-left").trigger("click");
        });
    });
    $(function() {
        
        $("#skip").click(function() {
            $(".login-wrapper").removeClass("hide");
            $("#snackbar").hide(300);
            return false;
        });


        $(".validation-summary-errors").hide();
        if ($(".validation-summary-errors").find("ul>li").html() !== "") {
            $(".validation-summary-errors").show();
           
        } else {
           
            $(".login-wrapper").removeClass("hide");
            $("#snackbar").hide(300);
            return false;
        }
        @if (TempData["InvalidLogin"] == null)
        {
            <text>
                setTimeout(function() {
                        $(".login-wrapper").removeClass("hide");
                        $("#snackbar").hide(300);
                    },
                    9000);

            </text>
        }
        else
        {
            <text>
                $(".login-wrapper").removeClass("hide");
                $("#snackbar").hide(300);
                return false;
            </text>
        }
        
       
       
    });
</script>
</body>
</html>