﻿@using Matrix.Static
@model Matrix.Models.AccountViewModels.EditRegisterViewModel
@{

    ViewBag.Title = _Translate.Edit+" "+_Translate.User+" - "+Model.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("EditRegister", "Account", FormMethod.Post, new { enctype = "multipart/form-data" ,@class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model=>model.UserName)
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label(_Translate.NameEn, null,new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control",autocomplete="off" })
        </div>
    </div>
                
    <div class="form-group">
        @Html.Label(_Translate.ArName, null, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NameAr, new { @class = "form-control",autocomplete="off" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <label class="label-radio">
                <input type="radio" id="@(Gender.Male)" name="Gender" value="@Gender.Male" @(Model?.Gender == Gender.Male ? "checked" : "")/>
                <span class="custom-radio"></span>
                @_Translate.Male
            </label>

            <label class="label-radio">
                <input type="radio" id="@(Gender.Female)" name="Gender" value="@Gender.Female" @(Model?.Gender == Gender.Female ? "checked" : "")/>
                <span class="custom-radio"></span>
                @_Translate.Female
            </label>
            @Html.ValidationMessageFor(model => model.Gender, "", new {@class = "text-danger"})
        </div>
    </div>
    
    <div class="form-group">
        @Html.Label(_Translate.Photo, null, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            <input class="form-control" type="file" name="Photo" id="Photo" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-left", autocomplete = "off" , @value="@Matrix.com" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeNo, null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmployeeNo, new { @class = "form-control",autocomplete="off" })
            @Html.ValidationMessageFor(model => model.EmployeeNo, "", new { @class = "text-danger" })
        </div>
    </div> 
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Roles, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @foreach (var item in Model.SelectedRoles)
            {
                string Checked = item.Checked;
                <div class="m-b-5">
                    <label class="label-checkbox">
                        <input id="@item.RoleId" type="checkbox" value="@item.Name" @Checked name="Roles[]" />
                        <span class="custom-checkbox"></span>
                        @item.RoleName
                    </label>
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@_Translate.Submit" />
        </div>
    </div>
}


