﻿@model Matrix.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = _Translate.ResetPasswordForm;
    Layout = "_login";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
    <h4 class="panel-title pull-right">
            @ViewBag.Title        
        </h4>
        <div class="btn-group pull-left">             
            <a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Login")" title="@_Translate.Login"><i class="fa fa-sign-in fa-lg"></i> @_Translate.Login</a>
        </div>
    </div>
    <div class="panel-body center">
        <h3> @_Translate.ForgetPasswordConfirmation</h3>
    </div>
</div>

@section scripts{
    <script>
        $(function() {
            setTimeout(function() {
                    document.location = '@Url.Action("Login")';
                },
                3000);
        });
    </script>
}