﻿@model Matrix.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = _Translate.ForgotPassword;
    Layout = "_login";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
    <h4 class="panel-title pull-right">
            @ViewBag.Title        
        </h4>
        <div class="btn-group pull-left">             
            <a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Login")" title="@_Translate.ShowAll"><i class="fa fa-sign-in "></i> @_Translate.Login</a>
        </div>
    </div>
    <div class="panel-body">
        @if (TempData["Message"] != null)
        {
            <div class="row">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong></strong> @TempData["Message"]
                </div>

            </div>
        }
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            <div class="form-group">
                @Html.Label("", _Translate.Email, new {@class = "col-md-12 control-label"})
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-envelope fa-lg"></i> @_Translate.SendRequestLinkToMyEmail</button>
                </div>
            </div>
        }

    </div>
</div>



