﻿@model Matrix.Models.AccountViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_login.cshtml";
}

<div style="z-index:999; padding-top:20px; margin-bottom:0px" class="jumbotron">

<style>
    .form-control {
        height: 50px;
        padding-right:50px;
    }
    .form-control-feedback {
    right:20px;
    top:7px;
    }
</style>

@using (Html.BeginForm("Login", "Account",  new { ReturnUrl = ViewBag.ReturnUrl },FormMethod.Post,true, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
            <h4 class="h3">تسجيل الدخول</h4>
            <p class="mt5 mb20 ">@Html.ValidationSummary(true, "", new { @class="text-success" })</p>



            <div class="form-group">
                <div class="col-xs-12">
                    <input name="Email" type="text" class="form-control uname" placeholder="اسم المستخدم" autocomplete="off" />
                    <i class="fa fa-2x fa-user form-control-feedback "></i>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-default" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12">
                    <input name="Password" type="password" class="form-control pword" placeholder="الرقم السري" />
                    <i class="fa fa-2x fa-key form-control-feedback "></i>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-default" })
                </div>
            </div>

            <div class="form-group">

                    <div class="col-md-6">
                        <div class="checkbox" >
                            @Html.LabelFor(m => m.RememberMe, new { style = "padding-right: 0px;" })
                            @Html.CheckBoxFor(m => m.RememberMe)
                        </div>
                    </div>
                   
                <div class="col-xs-12 col-md-6">
                    <button class="btn btn-info btn-lg btn-block" style="font-size:x-large">دخــــول</button>
                </div>
            </div>
}
  



</div><!-- signin -->
<div style="font-size:small; color:#fff" class="text_right" >
       جميع الحقوق محفوظة لمؤسسة دبي لخدمات الإسعاف ©  2016 
</div>
@section scripts{
    <script>
        $(function () {
            $("#Email").focus()
        })
    </script>
    }