﻿@model Matrix.Models.AccountViewModels.LoginViewModel
@{
    Layout = "_login";
}
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@inject IHttpContextAccessor Http
@{
    var lang = Http.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
    var controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
    var action = ViewContext.RouteData.Values["action"]?.ToString() ?? "Index";
    var url = $"{Http.HttpContext.Request.Scheme}://{Http.HttpContext.Request.Host}/Account/Login";
}


<div class="panel panel-default" style="opacity: 0.7">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right">
            <strong>
                <i class="fa fa-lock fa-lg"></i> @_Translate.Login</strong>
        </h4>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">

                @Html.Label(_Translate.UserName, null, htmlAttributes: new {@class = "control-label col-md-12"})
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control input-sm fadeIn animation-delay2 text-center", autocomplete = "off"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-12"})
                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control input-sm fadeIn animation-delay4 text-center", autocomplete = "off"}})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                <label class="label-checkbox inline">
                    <input type="checkbox" name="RememberMe" value="true" class="regular-checkbox chk-delete"/>
                    <span class="custom-checkbox info bounceIn animation-delay4"></span>
                </label>
                @_Translate.Remember_me
            </div>

            <div class="seperator"></div>
            <div class="form-group small">
                @_Translate.ForgotYourPassword<br/>
                <a href="@Url.Action("ForgotPassword", "Account")">@_Translate.ResetPassword</a>
            </div>

            <hr/>
            <button type="submit" class="btn btn-primary btn-lg bounceIn animation-delay5 btn-block">
                <i class="fa fa-sign-in fa-lg"></i> @_Translate.Login</button>
@*           <a class=" login-link pull-right" href="index.html">*@
        }
    </div>
    <div class="panel-footer center">
        نسخة تجريبية الاصدار 1
    </div>
</div><!-- /panel -->


@section scripts{
    <script>
        $(function() {
            $("#Email").val('').focus();
        });

        $(".panel").mouseover(function() {
            $(this).css("opacity", 1);
        });
        $(".panel").mouseout(function() {
            $(this).css("opacity", 0.7);
        });
    </script>
}