﻿@using Matrix.Data.DomainClasses
@using Matrix.Static
@model Matrix.Models.AccountViewModels.RegisterViewModel
@{

    ViewBag.Title = @_Translate.Add_New_User;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var selectedRoles = ViewBag.SelectedRoles;
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right ">
            @ViewBag.Title        
        </h4>
    </div>
</div>


@using (Html.BeginForm("Register", "Account",  FormMethod.Post,  new { enctype = "multipart/form-data" , @class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new {@class = "text-danger"})


    <div class="form-group">
        @Html.Label(_Translate.NameEn, null, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new {@class = "form-control", autocomplete = "off"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label(_Translate.ArName, null, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NameAr, new {@class = "form-control", autocomplete = "off"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <label class="label-radio">
                <input type="radio" id="@(Gender.Male)" name="Gender" value="@Gender.Male" @(Model?.Gender == Gender.Male ? "checked" : "")/>
                <span class="custom-radio"></span>
                @_Translate.Male
            </label>

            <label class="label-radio">
                <input type="radio" id="@(Gender.Female)" name="Gender" value="@Gender.Female" @(Model?.Gender == Gender.Female ? "checked" : "")/>
                <span class="custom-radio"></span>
                @_Translate.Female
            </label>
            @Html.ValidationMessageFor(model => model.Gender, "", new {@class = "text-danger"})
        </div>
    </div>
    
    <div class="form-group">
        @Html.Label(_Translate.Photo, null, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            <input class="form-control" type="file" name="Photo" id="Photo" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeNo, null, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmployeeNo, new {@class = "form-control", autocomplete = "off"})
            @Html.ValidationMessageFor(model => model.EmployeeNo, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control text-left", autocomplete = "off", @value = "@Matrix.com"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Roles, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @foreach (var item in (List<Role>) ViewBag.Roles)
            {
                var isChecked = selectedRoles?.Contains(item.Name.ToString()) ?? false;
                <div class="m-b-5">
                    <label class="label-checkbox">
                        <input id="@item.Id" type="checkbox" @(isChecked ? "checked" : "") value="@item.Name" name="Roles[]"/>
                        <span class="custom-checkbox"></span>
                        @item.Description
                    </label>
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
            <div class="row">
                <div class="">
                    <input type="submit" class="btn btn-default" value="@_Translate.Submit"/>
                </div>
            </div>

        </div>
    </div>
}