﻿@{
    ViewBag.Title = _Translate.ResetPasswordForm;
    Layout = "_login";
}



<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right">
            @ViewBag.Title        
        </h4>
       
    </div>
    <div class="panel-body center">

        @_Translate.PasswordResetSuccessfully 
        <br />
        @Html.ActionLink(@_Translate.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

        </div>
</div>

