﻿@model Matrix.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = _Translate.ResetPassword;
    Layout = "_login";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right">
            @ViewBag.Title        
        </h4>
        <div class="btn-group pull-left">             
            <a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Login")" title="@_Translate.Login"><i class="fa fa-sign-in fa-lg"></i> @_Translate.Login</a>
        </div>
    </div>
    <div class="panel-body center">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
          
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , placeholder="Your Email" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" , autocomplete="off" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary btn-lg bounceIn animation-delay5 btn-block"><i class="fa fa-save fa-lg"></i> @_Translate.Submit</button>
                </div>
            </div>
        }
        </div>
</div>
