﻿@model Matrix.Data.DomainClasses.Area

@{
    ViewBag.Title = (Model == null) ? "اضافة" : "تعديل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @if (Model != null)
        {
            Html.HiddenFor(model => model.Id);
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "الاسم", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Name, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="حفظ" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("عودة", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
