﻿@model IEnumerable<Matrix.Data.DomainClasses.Area>

@{
    ViewBag.Title = "مناطق الاختصاص";
}
<div class="col-md-12">
    <p>
        @Html.ActionLink("اضافة", "AddNew")
    </p>
    <table class="table table-hover" id="table" width="100%">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    الاسم
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>
@section Scripts {
    <script>

        $(document).on('click', '.remove', function () {
            var $this = $(this);
            $.post(
                "@Url.Action("Remove")",
                {
                    id: $this.attr('id')
                },
                function (data) {
                    if (data.Result != 1) return;
                    $this.closest('tr').remove();
                },
                'json');
        });

        $("#table").dataTable({
            "paging": true,
            "ordering": false,
            "info": true,
            "scrollX": true,
            "language": { url: "@Url.Content("~/Content/DataTale/js/dataTable.Arabic.lang")" },

            "processing": true,
            "serverSide": true,
            "ajax": "@Url.Action("GetMore")",
            });
    </script>
}