﻿
//select2
@import "../vendors/select2/css/select2";


//font awesome
@import "../vendors/font-awesome/css/font-awesome";

//pace
@import "../css/pace";

//mirror
@import "../css/morris";

//sweet alert
@import "../vendors/bootstrap-sweetalert/sweet-alert.scss";

//circleful
@import "../vendors/jquery-circliful/css/jquery.circliful.scss";


// datepicker with time picker
@import "../vendors/ui-datepicker/jquery-ui.min.scss";

// switchery
@import "../vendors/switchery/switchery.min";

//colorbox
@import "../vendors/jquery-colorbox/dark/colorbox";

@import "../vendors/BootStrapSlider/slider";

@import "../vendors/bootstrap-trl-ltr-v300/stylesheets/_bootstrap.en.scss";

//datatables
@import "../vendors/dataTables/datatables";
@import "../vendors/dataTables/Responsive/css/responsive.bootstrap";
@import "../vendors/dataTables/Buttons/css/buttons.bootstrap";


@import "../css/app.en.min.scss";
//skin
@import "../css/app-skin";

@import "../css/style";


h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

.text-yellow{ color:yellow !important}

.custom-modal-title{
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 700
}



input[type='button'], input[type='submit'] {
  @extend .btn;
  @extend .btn-primary;
  padding: 15px 30px ;
}

.form-control
{
  height:40px;
}

img{
  @extend .img-responsive;
}


.btn-add {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
  @extend .m-b-5;


  > span {
    @extend .fa;
    @extend .fa-plus-square;
  }
}

.btn-add-default {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-sm;
  @extend .m-b-5;

  > span {
    @extend .fa;
    @extend .fa-plus-square;
  }
}
.m-b-5 {
  margin-bottom:5px !important;
}
.btn-del {
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-sm;

  @extend .m-b-5;


  > span {
    @extend .fa;
    @extend .fa-remove;
  }
}

.btn-edit{
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-success;


  @extend .m-b-5;


  >span{
    @extend .fa ;
    @extend .fa-edit;
  }
}

.btn-details{
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-info;


  @extend .m-b-5;

  >span{
    @extend .fa ;
    @extend .fa-search;
  }
}

.btn-back{
  @extend .btn;
  @extend .btn-primary;
  color:white !important;
  @extend .btn-sm;
  >span{
    @extend .fa ;
    @extend .fa-reply;
  }
}


#sidebar-menu>ul>li>a {
  color: #fff;
  border-right: 2px solid transparent;
  display: block;
  padding: 12px 25px;
  background-color:#415464;
  margin-top:1px;
}

///////////////////////// table

.table-shadow{
  -webkit-box-shadow: 0 0 30px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 30px -6px rgba(0,0,0,0.75);
  box-shadow: 0 0 30px -6px rgba(0,0,0,0.75);
}


.gradain-gry
{
  background: rgba(237,237,237,1);
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}


.clear {
  clear: both;
}

h4.modal-title {
  font-family: H3, sans-serif;
  font-weight:bold
}

#datepicker
{
  .datepicker{direction:ltr}
}


.custombox-modal-wrapper {
  outline: 0;
  overflow: auto;
  text-align: left;
}



.header-title{
  font-family: H3, sans-serif}



.tabs-vertical-env .nav.tabs-vertical li>a {
  color: #333333;
  text-align: center;
  font-family: H3, sans-serif;
  font-weight: 500;
  white-space: nowrap;
}


.pricing-column .inner-box {
  position: relative;
  padding: 0 0 0;
}



.typeahead { z-index: 1051; }

.pointer{cursor:pointer !important}

.nav.nav-tabs>li>a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333 !important;
  cursor: pointer;
  line-height: 50px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  font-family: H3, sans-serif;
}


.pricing-column {
  position: relative;
  margin-bottom: 0;
}

.nav.nav-tabs>li.active>a{
  color: #3bafda !important;
}
.nav.nav-tabs>li>a {
  background-color: #3bafda;
  border-radius: 0;
  border: none;
  color: #fff !important;
  cursor: pointer;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: H3, sans-serif;
  font-weight:bold;
  >:hover{
    color:#415464
  }
}


#sidebar-menu ul ul li {
  >:hover{
    background-color:black;
  }
  .active{
    background-color:black;
  }
}

.nav>li>a.lang {
  line-height: 20px;
  margin-top:25px;
  padding: 0 35px 0 10px;
}
.nav>li>a.lang.ar {
  background:url("../images/uaeflagicon.png") right no-repeat ;
}
.nav>li>a.lang.en {
  background:url("../images/usicon.png") right no-repeat ;
  text-align:left

}

/* preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity:0.8;
}

#status {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  font-size: 32px;
}


/*select2 override*/
.select2{width:100% !important;}
.select2-selection__rendered{padding-top: 5px}



.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}


.brand{
  color:#fff !important;
}
.grey-container {
  padding: 0 15px 0 15px !important;
}
.detail{
  line-height:40px;
  overflow:hidden;
}


.card-box {
  padding: 20px;
  border: 1px solid rgba(54,64,74,0.08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.bg-inverse {
  background-color: #4c5667 !important;
}

.widget-simple-chart .circliful-chart {
  float: left;
  margin-top: -5px;
}

.text-yellow {
  color: yellow !important;
}

.text-white {
  color: white !important;
}
.text-nowrap {
  white-space: nowrap;
}

#HomeStandads {
  .card-box:hover {
    @extend .bg-info !optional;

    > .text-success {
      color: white !important;
    }
  }
}
.text-success {
  color: #00b19d !important;
}



.PageTitle
{
  //padding:15px;
  margin-bottom:5px;
  height:50px;
  line-height:40px;
  >span
  {
    font-size:13pt;
    font-weight:bold;
  }
  > button , a {
    margin-left: 3px;
  }

}

.uneditable-input, input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]
{
  font-size: 14px !important;
  font-weight: normal;
}


.relative{
  position:relative !important;
}

.tap-bar li a {
  background-color: #f9f9f9;
  color: #495b6c !important
}


.tap-bar li.active a {
  background-color: #FFFFFF !important;
  color: #495b6c !important
}



button, input, label, select, textarea.form-control {
  font-size: 12pt;
}



.pinter{
  cursor:pointer !important;
}

.validation-summary-errors ul{
  list-style: none;
}

//.actions{
//  text-align: center;
//  white-space: nowrap;
//  > button , a{
//    margin-left: 3px;
//    margin-right: 3px;
//  }
//}
.tdactions {
  width: 5% !important ;
}

.footer{
  background-color: #424f63 !important;
  color: white;
}


.error
{
  font-style: normal;
  font-weight: normal;
  border-color: red !important ;
  color: red !important;

}

.label-radio{
  font-weight: normal !important;
}


// Panales overriding 
.panel-primary>.panel-heading {
  color: #fff;
  // background-color: #337ab7;

  border-color: #337ab7;
  >.panel-title{
    font-weight:900;
    font-size:large;
    text-shadow: -1px 0 2px rgba(150, 150, 150, 1);
  }
}

div.panel-inverse
{
  >.panel-heading{
    min-height:60px;
  }
  h3,h2,h4{
    color:#fff !important;
    margin-top:5px !important;
  }
}

//.panel-heading{
//  font-weight:700 !important;
//  padding: 0 15px !important;
//  .panel-title {
//    margin-top : 15px !important;
//  }
//  .btn{
//    margin-top:10px;
//  }
//  .small{
//    font-size:12px !important;
//    font-weight:400;
//  }
//}
.panel-default.panel-footer{
  border-top: 1px solid #ccc;
  background: #f5f5f5 !important;
}

div.panel-inverse h3, div.panel-inverse h2, div.panel-inverse h4
{
  color:#333333 !important;
}

/*fix default panel header color*/
//.panel.panel-default .panel-heading {
//  background: #415160 !important;
//  color: #fff !important;
//  border-color: #f1f5fc !important;
//}


//.panel-heading
//{
//  padding: 0 15px !important;
//  min-height: 50px;
//  .panel-title
//  {
//    padding-top: 13px !important;
//  }
//}


.panel{
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
}






////////////////////////////////////////////////////////// EN CUSTOME STYLE ////////////////////////////////////////////////////////////

@font-face{
  font-family:'Trebuchet MS';
  font-weight:normal;
  font-style:normal;
}


@font-face{
  font-family:'H5';
  font-weight:normal;
  font-style:normal;

}
/* arabic */
@font-face {
    font-family: 'H4';
    font-style: normal;
    font-weight: 300;

}

@font-face{
  font-family:'H4';
  font-weight:300;
  font-style:normal;

}


@font-face{
  font-family:'H3';
  font-weight:400;
  font-style:normal;

}
/* arabic */
@font-face{
  font-family:'H2';
  font-weight:700;
  font-style:normal;
}

/* arabic */

@font-face{
  font-family: 'Trebuchet MS', sans-serif;
  font-weight:900;
  font-style:normal;
}


.widget-simple-chart {
    text-align: left !important;
}


.widget-simple-chart .circliful-chart {
    float: right !important;
}

#bodyNavBtn {
    float: left;
}

.PageTitle {
    a {
        float: left;
        @extend .btn-sm !optional;
    }
}

.validation-summary-errors
{
    @extend .alert !optional;
    @extend .alert-warning !optional;
    color:red;
}


.dataTables_info{
  margin-top: 0 !important;
}



.main-menu > ul > li > .submenu li a
{
  border-bottom: 1px solid #495b6c;
}


.text-left{
  direction: ltr !important;
  text-align: left !important;
}

.capitalize{
text-transform: capitalize;
}

@media print {
  .PageTitle, .PageTitleNav, .nav-notification{ display: none}
  .panel-heading{background-color: #cccccc}
}

.bg-yellow {
  background-color: #f3f100;
  color: #777;
}

ul.select2-results__options li
  {
      text-align: left;
    img{
      margin-left:10px;
      float: left;
    }
  }


span.select2-selection__rendered {
  > span.select2-selected-item-image {
    img {
      width: 32px;
      height: 29px;
      float: left;
      margin-left: 10px;
    }
  }
}


.help-block{
  font-size:10px !important;
}
.avatar-img
{
  width: 50px;
  height:50px;
}

input#Email{
  direction: ltr !important;
}

input#NameEn{
  text-transform: capitalize;
  text-align: left !important;
  direction: ltr !important;
}

.text_right{
  text-align: left !important;
}

.pull-right{
  float: left !important;
}


.pull-left{
  float: right !important;
}

body{
  font-family: 'Trebuchet MS', sans-serif !important;
}

.panel-stat2 .stat-icon {
  float: right !important;
}

.alert-dismissable .close, .alert-dismissible .close{
  right :0 !important;
  left: 0 !important;
}


.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>input[type='button'], .input-group-btn:first-child>input[type='submit'], .input-group-btn:first-child>.btn-add, .input-group-btn:first-child>.btn-add-default, .input-group-btn:first-child>.btn-del, .input-group-btn:first-child>.btn-edit, .input-group-btn:first-child>.btn-details, .input-group-btn:first-child>.btn-back, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.btn-group>input[type='button'], .input-group-btn:first-child>.btn-group>input[type='submit'], .input-group-btn:first-child>.btn-group>.btn-add, .input-group-btn:first-child>.btn-group>.btn-add-default, .input-group-btn:first-child>.btn-group>.btn-del, .input-group-btn:first-child>.btn-group>.btn-edit, .input-group-btn:first-child>.btn-group>.btn-details, .input-group-btn:first-child>.btn-group>.btn-back, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>input[type='button']:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>input[type='submit']:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-add:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-add-default:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-del:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-edit:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-details:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-back:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn-group:not(:last-child)>input[type='button'], .input-group-btn:last-child>.btn-group:not(:last-child)>input[type='submit'], .input-group-btn:last-child>.btn-group:not(:last-child)>.btn-add, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn-add-default, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn-del, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn-edit, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn-details, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn-back{
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>input[type='button'], .input-group-btn:last-child>input[type='submit'], .input-group-btn:last-child>.btn-add, .input-group-btn:last-child>.btn-add-default, .input-group-btn:last-child>.btn-del, .input-group-btn:last-child>.btn-edit, .input-group-btn:last-child>.btn-details, .input-group-btn:last-child>.btn-back, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.btn-group>input[type='button'], .input-group-btn:last-child>.btn-group>input[type='submit'], .input-group-btn:last-child>.btn-group>.btn-add, .input-group-btn:last-child>.btn-group>.btn-add-default, .input-group-btn:last-child>.btn-group>.btn-del, .input-group-btn:last-child>.btn-group>.btn-edit, .input-group-btn:last-child>.btn-group>.btn-details, .input-group-btn:last-child>.btn-group>.btn-back, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>input[type='button']:not(:first-child), .input-group-btn:first-child>input[type='submit']:not(:first-child), .input-group-btn:first-child>.btn-add:not(:first-child), .input-group-btn:first-child>.btn-add-default:not(:first-child), .input-group-btn:first-child>.btn-del:not(:first-child), .input-group-btn:first-child>.btn-edit:not(:first-child), .input-group-btn:first-child>.btn-details:not(:first-child), .input-group-btn:first-child>.btn-back:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn-group:not(:first-child)>input[type='button'], .input-group-btn:first-child>.btn-group:not(:first-child)>input[type='submit'], .input-group-btn:first-child>.btn-group:not(:first-child)>.btn-add, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn-add-default, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn-del, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn-edit, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn-details, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn-back{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  text-align: left !important;
}

.input-group-addon:first-child {
  border-right: 0 !important;
}

.progress-bar {
  float: none;
  width: 0;
  height: 100%;
  font-size: 16px;
  line-height: 21px;
  color: #333;
  text-align: right !important;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}