@using Ymas.Extensions
@model Matrix.Models.Notifications
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-lg"></i>
        <span class="notification-label bounceIn animation-delay4">@Model.TotalChatsMessages</span>
    </a>
    <ul class="dropdown-menu message dropdown-1">
        <li><a>You have @Model.TotalChatsMessages new unread messages</a></li>
        @foreach (var item in Model.ChatsNotifications)
        {
            <li>
                <a class="clearfix" href="#">
                    <img src="~/img/user.jpg" alt="User Avatar">
                    <div class="detail">
                        <strong>@item.Name</strong>
                        <p class="no-margin">
                            @item.PostMessage.SubStr(50)
                        </p>
                        <small class="text-muted"><i class="fa fa-check text-success"></i> @item.TimeSpan</small>
                    </div>
                </a>
            </li>
        }
       
      
        <li><a href="#">View all messages</a></li>
    </ul>
</li>



<li class="dropdown hidden-xs">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-tasks fa-lg"></i>
        <span class="notification-label bounceIn animation-delay5">4</span>
    </a>
    <ul class="dropdown-menu task dropdown-2">
        <li><a href="#">You have 4 tasks to complete</a></li>
        <li>
            <a href="#">
                <div class="clearfix">
                    <span class="pull-left">Bug Fixes</span>
                    <small class="pull-right text-muted">78%</small>
                </div>
                <div class="progress">
                    <div class="progress-bar" style="width:78%"></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="clearfix">
                    <span class="pull-left">Software Updating</span>
                    <small class="pull-right text-muted">54%</small>
                </div>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" style="width:54%"></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="clearfix">
                    <span class="pull-left">Database Migration</span>
                    <small class="pull-right text-muted">23%</small>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width:23%"></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="clearfix">
                    <span class="pull-left">Unit Testing</span>
                    <small class="pull-right text-muted">92%</small>
                </div>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger " style="width:92%"></div>
                </div>
            </a>
        </li>
        <li><a href="#">View all tasks</a></li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-lg"></i>
        <span class="notification-label bounceIn animation-delay6">5</span>
    </a>
    <ul class="dropdown-menu notification dropdown-3">
        <li><a href="#">You have 5 new notifications</a></li>
        <li>
            <a href="#">
                <span class="notification-icon bg-warning">
                    <i class="fa fa-warning"></i>
                </span>
                <span class="m-left-xs">Server #2 not responding.</span>
                <span class="time text-muted">Just now</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="notification-icon bg-success">
                    <i class="fa fa-plus"></i>
                </span>
                <span class="m-left-xs">New user registration.</span>
                <span class="time text-muted">2m ago</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="notification-icon bg-danger">
                    <i class="fa fa-bolt"></i>
                </span>
                <span class="m-left-xs">Application error.</span>
                <span class="time text-muted">5m ago</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="notification-icon bg-success">
                    <i class="fa fa-usd"></i>
                </span>
                <span class="m-left-xs">2 items sold.</span>
                <span class="time text-muted">1hr ago</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="notification-icon bg-success">
                    <i class="fa fa-plus"></i>
                </span>
                <span class="m-left-xs">New user registration.</span>
                <span class="time text-muted">1hr ago</span>
            </a>
        </li>
        <li><a href="#">View all notifications</a></li>
    </ul>
</li>