﻿@model Matrix.Data.DomainClasses.Role

@{
    ViewBag.Title = "حذف مجموعة العمل";
}



<p>سوف تقوم بحذف هذه المجموعه من كافة مستخدمي النظام .</p>
<div>
    <h4>اسم المجموعه : @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("رجوع", "Index")
        </div>
    }
</div>
