﻿@model  Matrix.Models.RoleViewModel

@{
    ViewBag.Title = _Translate.Details;
}

<h2>@Model.Name - @ViewBag.RoleName</h2>

  
   

<h4>قائمة مستخدمين النظام اللذي ينتمون الى هذه المجموعة</h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>لا يوجد.</p>
}

<table class="table">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>
<p class="text-center">
    @* @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) | *@
    @Html.ActionLink("رجوع للقائمة", "Index")
</p>



