﻿@model IEnumerable<Matrix.Data.DomainClasses.Role>
@{
    ViewBag.Title = _Translate.Manage_Permissions;
}




<div class="panel panel-default">
    <div class="panel-heading">
        <span>@_Translate.Manage_Permissions</span>
    </div>
    <div class="panel-body">
        <table class="table dt table-shadow table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @_Translate.RoleName
                    </th>
                    <th>
                        @_Translate.Description
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>@item.Description</td>
                        <td>
                            @* @Html.ActionLink(_Translate.Edit, "Edit", new { id = item.Id }) | *@
                            @* @Html.ActionLink(_Translate.Delete, "Delete", new { id = item.Id }) *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
