﻿
@{
    ViewBag.Title = _Translate.Technical_Support;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card-box">

        <p>
            <i class="fa fa-user"></i>  Yaser Ahmed <br />
            <i class="fa fa-mobile"></i>  0507666628 <br />
            <i class="fa fa-phone"></i>  Office ext. 2880
            
        </p>
    </div>

