﻿

@{
    ViewBag.Title = "DashBoard";
    Layout = "_Layout";
}
<div class="padding-md">

@* colors status*@
<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="panel-stat3 bg-danger">
						<h2 class="m-top-none" id="userCount">55</h2>
						<h5>اجمالي البلاغات المقلقة</h5>
						<i class="fa fa-arrow-circle-o-down fa-lg"></i><span class="m-left-xs">انخفاض بنسبة 5%   </span>
						<div class="stat-icon">
							<i class="fa fa-bar-chart fa-3x"></i>
						</div>
						<div class="refresh-button">
							<i class="fa fa-refresh"></i>
						</div>
						<div class="loading-overlay">
							<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
						</div>
					</div>
				</div><!-- /.col -->
				<div class="col-sm-6 col-md-3">
					<div class="panel-stat3 bg-warning">
						<h2 class="m-top-none"><span id="serverloadCount">15</span></h2>
						<h5>البلاغات المجهولة</h5>
						<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">1% ارتفاع</span>
						<div class="stat-icon">
							<i class="fa fa-pie-chart fa-3x"></i>
						</div>
						<div class="refresh-button">
							<i class="fa fa-refresh"></i>
						</div>
						<div class="loading-overlay">
							<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
						</div>
					</div>
				</div><!-- /.col -->
				<div class="col-sm-6 col-md-3">
					<div class="panel-stat3 bg-success">
						<h2 class="m-top-none" id="orderCount">593</h2>
						<h5>الضبطيات</h5>
						<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">3% ارتفاع</span>
						<div class="stat-icon">
							<i class="fa fa-users fa-3x"></i>
						</div>
						<div class="refresh-button">
							<i class="fa fa-refresh"></i>
						</div>
						<div class="loading-overlay">
							<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
						</div>
					</div>
				</div><!-- /.col -->
				<div class="col-sm-6 col-md-3">
					<div class="panel-stat3 bg-blue">
						<h2 class="m-top-none" id="visitorCount">7214</h2>
						<h5>الاشتباه
						</h5>
						<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">30% ارتفاع</span>
						<div class="stat-icon">
							<i class="fa fa-bar-chart-o fa-3x"></i>
						</div>
						<div class="refresh-button">
							<i class="fa fa-refresh"></i>
						</div>
						<div class="loading-overlay">
							<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
						</div>
					</div>
				</div><!-- /.col -->
			</div>
			
			
			
			<div class="row">
			<div class="col-lg-8">
			
			
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h4 class="panel-title pull-right ">
						<span class="pull-right"><i class="fa fa-bar-chart-o fa-lg"></i> احصائيات البلاغات  2019</span>    
					</h4>
					<a class="btn fa-share hide"></a>
					<ul class="tool-bar">
						
						<li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a></li>
					</ul>
				</div>
				<div class="panel-body" id="trafficWidget">
					<div id="placeholder" class="graph" style="height: 250px"></div>
				</div>
				<div class="panel-footer">
					<div class="row row-merge">
						<div class="col-xs-3 text-center border-right">
							<h4 class="no-margin">1232</h4>
							<small class="text-muted">يناير</small>
						</div>
						<div class="col-xs-3 text-center border-right">
							<h4 class="no-margin">5421</h4>
							<small class="text-muted">فبراير</small>
						</div>
						<div class="col-xs-3 text-center border-right">
							<h4 class="no-margin">3021</h4>
							<small class="text-muted">مارس</small>
						</div>
						<div class="col-xs-3 text-center">
							<h4 class="no-margin">7098</h4>
							<small class="text-muted">ابريل</small>
						</div>
					</div><!-- ./row -->
				</div>
				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->

			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="panel panel-default panel-stat1 bg-success">
						<div class="panel-body">
							<div class="value">123</div>
							<div class="title">
								<span class="m-left-xs">الجرائم الواقعة على النفس</span>
							</div>
						</div>
					</div><!-- /panel -->
				</div><!-- /.col -->
				
				<div class="col-md-4 col-sm-4">
					<div class="panel panel-default panel-stat1 bg-success">
						<div class="panel-body">
							<div class="value">123</div>
							<div class="title">
								<span class="m-left-xs">جرائم وسائل النقل</span>
							</div>
						</div>
					</div><!-- /panel -->
				</div><!-- /.col -->
				
				<div class="col-md-4 col-sm-4">
					<div class="panel panel-default panel-stat1 bg-success">
						<div class="panel-body">
							<div class="value">99</div>
							<div class="title">
								<span class="m-left-xs">جرائم الأموال</span>
							</div>
						</div>
					</div><!-- /panel -->
				</div><!-- /.col -->
		
			</div><!-- /.row -->
			
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title pull-right ">
						<span class="pull-right"><i class="fa fa-bar-chart-o fa-lg"></i> نتائج مؤشرات خفض الجريمة</span>    
					</h4>
					
				</div>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>نوع الجريمة</th>
						<th>الانجاز</th>
						<th>المستهدف</th>
						<th>المحقق</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>الجرائم الإلكترونية </td>
						<td>
							<div class="progress progress-striped active" style="height: 8px; margin: 5px 0 0 0;">
								<div class="progress-bar" style="width: 45%">
									<span class="sr-only">100% </span>
								</div>
							</div>
						</td>
						<td class="center">100%</td>
						<td><span class="badge badge-info">٤٥ من اصل ١٠٠</span></td>
					</tr>
					<tr>
						<td>الجرائم الواقعة على النفس</td>
						<td>
							<div class="progress progress-striped active" style="height: 8px; margin: 5px 0 0 0;">
								<div class="progress-bar progress-bar-success" style="width: 61%">
									<span class="sr-only">100% Complete</span>
								</div>
							</div>
						</td>
						<td class="center">100%</td>
						<td><span class="badge badge-info">٦١ من اصل ١٠٠</span></td>
					</tr>
					<tr>
						<td>الجارئم الواقعة على الأمال</td>
						<td>
							<div class="progress progress-striped active" style="height: 8px; margin: 5px 0 0 0;">
								<div class="progress-bar progress-bar-success" style="width: 97%">
									<span class="sr-only">100% Complete</span>
								</div>
							</div>
						</td>
						<td class="center">100%</td>
						<td><span class="badge badge-info">٩٧ من اصل ١٠٠</span></td>
					</tr>
					<tr>
						<td>الجرائم الإقتصادية</td>
						<td>
							<div class="progress progress-striped active" style="height: 8px; margin: 5px 0 0 0;">
								<div class="progress-bar progress-bar-warning" style="width: 30%">
									<span class="sr-only">100% Complete</span>
								</div>
							</div>
						</td>
						<td class="center">100%</td>
						<td><span class="badge badge-info">٣٠ من اصل ١٠٠</span></td>
					</tr>
					<tr>
						<td>الجرائم الإقتصادية</td>
						<td>
							<div class="progress progress-striped active" style="height: 8px; margin: 5px 0 0 0;">
								<div class="progress-bar progress-bar-warning" style="width: 18%">
									<span class="sr-only">100%</span>
								</div>
							</div>
						</td>
						<td class="center">100%</td>
						<td><span class="badge badge-danger">١٨ من اصل ١٠٠</span></td>
					</tr>
					</tbody>
				</table>
			</div><!-- /panel -->
			</div><!-- /.col -->
					<div class="col-lg-4">
						<div class="panel bg-info fadeInDown animation-delay4">
							<div class="panel-body">
								<div id="lineChart" style="height: 150px;"></div>
								<div class="pull-right text-right">
									<strong class="font-14">مقارنة البلاغات المجهولة والمعلومة</strong><br/>
								</div>
							</div>
						</div><!-- /panel -->
								
						<div class="panel bg-primary fadeInDown animation-delay5">
							<div class="panel-body">
								<div id="barChart" style="height: 150px;"></div>
							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col-xs-12">
										<h5 class="no-margin">الأساليب الاجرامية الأكثر انشاراً</h5>
									</div><!-- /.col -->
									
								</div><!-- /.row -->
							</div>
						</div><!-- /panel -->
								
						<div class="panel panel-default">
							<div class="panel-body">
								<div id="donutChart" style="height: 250px;"></div>
								<div class="panel-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
													<span class="badge badge-success pull-right">75%</span>
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse">
											<div class="panel-body">
											</div>
										</div>
									</div><!-- panel -->
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse">
											<div class="panel-body">
											</div>
										</div>
									</div><!-- panel -->
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
													<span class="badge badge-danger pull-right"><i class="fa fa-arrow-down"></i> 3%</span>
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse">
											<div class="panel-body">
											</div>
										</div>
									</div><!-- panel -->
								</div><!-- panel-group -->
							</div>
						</div><!-- /panel -->
					</div><!-- /.col -->
				</div><!-- /.row -->
</div><!-- /.padding-md -->


@section scripts{

	<script src="~/js/app/app_dashboard.js"></script>

    <script>
        $(function()	{
           
        });
    </script>
}
