@{
    ViewBag.Title = "الخرائط الأمنية";
    Layout = "_Layout";
}



<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right ">خارطة انتشار القضايا المغلقة</h4>
        <div class="btn-group pull-left">
            @*<a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Create")" title="@_Translate.CreateNew"><i class="fa fa-plus-circle"></i> @_Translate.CreateNew</a>*@
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div style="height: 500px" id="map"></div>
            </div>
            <div class="col-md-4">
                <div id="filters-container">
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>  
    
    function initMap() {
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11.13,
        center: {lat: 25.106178, lng: 55.223591},
        mapTypeId: 'terrain'
      });
      
      let infoWindow = new google.maps.InfoWindow;
      let circles = [];
      let items = [];
      let selectedTypes = [];
    
       window.updateFilter = function(type) {
              if(selectedTypes.includes(type)) {
                  selectedTypes = selectedTypes.filter(x => x !== type);
              } else {
                  selectedTypes.push(type);
              }
              
              reloadCircles();
        };
     
      // load the data
      $.getJSON("/Test/Generate", function(data) {
          items = data.points;
          selectedTypes = data.types;
          createFilterElements();
          reloadCircles();
        });
      
      
      function createFilterElements() {
          let filtersContainer = document.getElementById('filters-container');
          for(let i = 0; i < selectedTypes.length; i++) {
              let filter = '<label><input type="checkbox" style="display: inline; opacity: 1; position: relative; margin-left: 0.75em" checked onchange="updateFilter(\''+ selectedTypes[i] +'\')">' + selectedTypes[i] + '</label>';
              filtersContainer.innerHTML = filtersContainer.innerHTML + '<br>' + filter;
          }
          
          
      }
      
     
      
      
      
      
      function reloadCircles() {
          circles.forEach((circle) => {
              circle.setMap(null);
          });
          circles = [];
          
          items.filter(x=>selectedTypes.includes(x.type)).forEach((item) => {
              // Add the circle for this city to the map.
               let circle = new google.maps.Circle({
                 strokeColor: '#FF0000',
                 strokeOpacity: 0.8,
                 strokeWeight: 2,
                 fillColor: '#FF0000',
                 fillOpacity: 0.35,
                 map: map,
                 center: {lat: item.lat, lng: item.lng},
                 radius: item.z * 30
               });
               
                // Add a listener for the click event.
                circle.addListener('click', getOnCircleClicked(item.type));
                
                circles.push(circle);
          });
      }
      
      function getOnCircleClicked(title) {
          return function (event) {
             let contentString = '<b style="text-align: center">'+ title +'</b>';
               
               // Replace the info window's content and position.
             infoWindow.setContent(contentString);
             infoWindow.setPosition(event.latLng);
           
             infoWindow.open(map);
           }
      }
    }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtAFIdVd1j94__ttxdYg4VAfY8OBPCARI&callback=initMap">
    </script>
}