
@{
    ViewBag.Title = "الأساليب الاجرامية";
    Layout = "_Layout";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right ">خارطة الأساليب الإجرامية</h4>
        <div class="btn-group pull-left">
            @*<a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Create")" title="@_Translate.CreateNew"><i class="fa fa-plus-circle"></i> @_Translate.CreateNew</a>*@
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div style="height: 500px" id="map"></div>
            </div>
            <div class="col-md-4">
                <div id="filters-container">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right ">
            الأساليب الاجرامية      
        </h4>
        <div class="btn-group pull-left">
            @*<a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Create")" title="@_Translate.CreateNew"><i class="fa fa-plus-circle"></i> @_Translate.CreateNew</a>*@
        </div>
    </div>
    <div class="panel-body">
        <div id="top-products-chart"></div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-right ">
                    الأساليب الاجرامية الاكثر انشارا      
                </h4>
                <div class="btn-group pull-left">
                    @*<a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Create")" title="@_Translate.CreateNew"><i class="fa fa-plus-circle"></i> @_Translate.CreateNew</a>*@
                </div>
            </div>
            <div class="panel-body">
                <div id="top-products-chart1"></div>

            </div>
        </div>
        
        
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-right ">
                    الأساليب الاجرامية الجديدة     
                </h4>
                <div class="btn-group pull-left">
                    @*<a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Create")" title="@_Translate.CreateNew"><i class="fa fa-plus-circle"></i> @_Translate.CreateNew</a>*@
                </div>
            </div>
            <div class="panel-body">
                <div id="top-products-chart2"></div>

            </div>
        </div>
        
    </div>
    
</div>


@section scripts{
   
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src=" https://rawgit.com/fusioncharts/fusioncharts-jquery-plugin/develop/dist/fusioncharts.jqueryplugin.min.js"></script>
    
    <script defer src="~/js/data.js"></script>
    @* <script defer src="~/js/dashboard.js"></script> *@
    <script>
        FusionCharts.ready(function () {
            var myChart = new FusionCharts({
                type: 'mscolumn3d',
                id: 'topProductsSummary',
                width: '100%',
                height: '340',
                dataFormat: 'json',
                renderAt: 'top-products-chart',
                dataSource: {
                    "chart": {
                        "theme": "fusion",
                        "caption": "الاساليب الاجرامية",
                        "xAxisname": "الاسلوب الاجرامي",
                        "yAxisName": "مجموع البلاغات",
                        "numberPrefix": "",
                        "plotFillAlpha": "80",
                        "divLineIsDashed": "1",
                        "divLineDashLen": "1",
                        "divLineGapLen": "1"
                    },
                    "categories": [{
                        "category": [{
                            "label": "كسر النافذه"
                        }, {
                            "label": "المغافلة"
                        }, {
                            "label": "تسلق السور"
                        }, {
                            "label": "فتح الباب بالة حادة"
                        }]
                    }],
                    "dataset": [ {
                        "seriesname": "",
                        "data": [{
                            "value": "12"
                        }, {
                            "value": "56"
                        }, {
                            "value": "73"
                        }, {
                            "value": "28"
                        }]
                    }],
                    "trendlines": [{
                        "line": [{
                            "startvalue": "100",
                            "color": "#5D62B5",
                            "valueOnRight": "1",
                            "thickness": "1",
                            "showBelow": "0"
                        }, {
                            "startvalue": "100",
                            "color": "#29C3BE",
                            "valueOnRight": "1",
                            "thickness": "1",
                            "showBelow": "0"
                        }]
                    }]
                }
            });
            myChart.render();
        });
        
                FusionCharts.ready(function () {
            var myChart = new FusionCharts({
                type: 'mscolumn3d',
                id: 'topProductsSummary1',
                width: '100%',
                height: '340',
                dataFormat: 'json',
                renderAt: 'top-products-chart2',
                dataSource: {
                    "chart": {
                        "theme": "fusion",
                        "caption": "الاساليب الاجرامية",
                        "xAxisname": "الاسلوب الاجرامي",
                        "yAxisName": "مجموع البلاغات",
                        "numberPrefix": "",
                        "plotFillAlpha": "80",
                        "divLineIsDashed": "1",
                        "divLineDashLen": "1",
                        "divLineGapLen": "1"
                    },
                    "categories": [{
                        "category": [{
                            "label": "كسر النافذه"
                        }, {
                            "label": "المغافلة"
                        }, {
                            "label": "تسلق السور"
                        }, {
                            "label": "فتح الباب بالة حادة"
                        }]
                    }],
                    "dataset": [ {
                        "seriesname": "",
                        "data": [{
                            "value": "12"
                        }, {
                            "value": "56"
                        }, {
                            "value": "73"
                        }, {
                            "value": "28"
                        }]
                    }],
                    "trendlines": [{
                        "line": [{
                            "startvalue": "100",
                            "color": "#5D62B5",
                            "valueOnRight": "1",
                            "thickness": "1",
                            "showBelow": "0"
                        }, {
                            "startvalue": "100",
                            "color": "#29C3BE",
                            "valueOnRight": "1",
                            "thickness": "1",
                            "showBelow": "0"
                        }]
                    }]
                }
            });
            myChart.render();
        });

        
                FusionCharts.ready(function () {
            var myChart = new FusionCharts({
                type: 'mscolumn3d',
                id: 'topProductsSummary2',
                width: '100%',
                height: '340',
                dataFormat: 'json',
                renderAt: 'top-products-chart1',
                dataSource: {
                    "chart": {
                        "theme": "fusion",
                        "caption": "الاساليب الاجرامية",
                        "xAxisname": "الاسلوب الاجرامي",
                        "yAxisName": "مجموع البلاغات",
                        "numberPrefix": "",
                        "plotFillAlpha": "80",
                        "divLineIsDashed": "1",
                        "divLineDashLen": "1",
                        "divLineGapLen": "1"
                    },
                    "categories": [{
                        "category": [{
                            "label": "كسر النافذه"
                        }, {
                            "label": "المغافلة"
                        }, {
                            "label": "تسلق السور"
                        }, {
                            "label": "فتح الباب بالة حادة"
                        }]
                    }],
                    "dataset": [ {
                        "seriesname": "",
                        "data": [{
                            "value": "12"
                        }, {
                            "value": "56"
                        }, {
                            "value": "73"
                        }, {
                            "value": "28"
                        }]
                    }],
                    "trendlines": [{
                        "line": [{
                            "startvalue": "100",
                            "color": "#5D62B5",
                            "valueOnRight": "1",
                            "thickness": "1",
                            "showBelow": "0"
                        }, {
                            "startvalue": "100",
                            "color": "#29C3BE",
                            "valueOnRight": "1",
                            "thickness": "1",
                            "showBelow": "0"
                        }]
                    }]
                }
            });
            myChart.render();
        });

    </script>
     <script>  
        
        function initMap() {
          let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11.13,
            center: {lat: 25.106178, lng: 55.223591},
            mapTypeId: 'terrain'
          });
          
          let infoWindow = new google.maps.InfoWindow;
          let circles = [];
          let items = [];
          let selectedTypes = [];
        
           window.updateFilter = function(type) {
                  if(selectedTypes.includes(type)) {
                      selectedTypes = selectedTypes.filter(x => x !== type);
                  } else {
                      selectedTypes.push(type);
                  }
                  
                  reloadCircles();
            };
         
          // load the data
          $.getJSON("/Test/MapsOfCriminalMethods", function(data) {
              items = data.points;
              selectedTypes = data.types;
              createFilterElements();
              reloadCircles();
            });
          
          
          function createFilterElements() {
              let filtersContainer = document.getElementById('filters-container');
              for(let i = 0; i < selectedTypes.length; i++) {
                  let filter = '<label><input type="checkbox" style="display: inline; opacity: 1; position: relative; margin-left: 0.75em" checked onchange="updateFilter(\''+ selectedTypes[i] +'\')">' + selectedTypes[i] + '</label>';
                  filtersContainer.innerHTML = filtersContainer.innerHTML + '<br>' + filter;
              }
              
              
          }
          
         
          
          
          
          
          function reloadCircles() {
              circles.forEach((circle) => {
                  circle.setMap(null);
              });
              circles = [];
              
              items.filter(x=>selectedTypes.includes(x.type)).forEach((item) => {
                  // Add the circle for this city to the map.
                   let circle = new google.maps.Circle({
                     strokeColor: '#FF0000',
                     strokeOpacity: 0.8,
                     strokeWeight: 2,
                     fillColor: '#FF0000',
                     fillOpacity: 0.35,
                     map: map,
                     center: {lat: item.lat, lng: item.lng},
                     radius: item.z * 30
                   });
                   
                    // Add a listener for the click event.
                    circle.addListener('click', getOnCircleClicked(item.type));
                    
                    circles.push(circle);
              });
          }
          
          function getOnCircleClicked(title) {
              return function (event) {
                 let contentString = '<b style="text-align: center">'+ title +'</b>';
                   
                   // Replace the info window's content and position.
                 infoWindow.setContent(contentString);
                 infoWindow.setPosition(event.latLng);
               
                 infoWindow.open(map);
               }
          }
        }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtAFIdVd1j94__ttxdYg4VAfY8OBPCARI&callback=initMap">
        </script>
}