﻿
@{
    ViewBag.Title = "لا توجد نتائج للعرض";
    ViewBag.ShowNewsTicker = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <a class="btn btn-darkblue btn-lg btn-block" href="javascript:void(0);" onclick="history.go(-1)"><span class="glyphicon glyphicon-share-alt"></span>  @_Translate.Back</a>
</div>

