@{
    ViewBag.Title = "Not Supported Browser";
    Layout = "_Layout";
}

<div class="col-md-12 center">
    <h2>Sorry! This browser is not anymore supported by this application, we recommend google chrome or Firefox browsers.</h2>
</div>
