﻿
@{
    ViewBag.Title = "الرابط غير صحيح";
    ViewBag.ShowNewsTicker = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <div class="notfoundpanel">
        <h1>404!</h1>
        <h3>الرابط المطلوب غير صحيح</h3>
        
    </div><!-- notfoundpanel -->

</section>

