@model IEnumerable<Matrix.Controllers.HomeController.CriminalCard>
@{
    ViewBag.Title = "البحث في الجرائم المجهولة";
    Layout = "_Layout";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right ">اكتشاف البلاغات المجهولة</h4>
        <div class="btn-group pull-left">
            @*<a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Create")" title="@_Translate.CreateNew"><i class="fa fa-plus-circle"></i> @_Translate.CreateNew</a>*@
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form method="post" action="@Url.Action("UnknownCases")">
                <div class="form-group">
                    <label class="control-label col-md-12">اختر الأسلوب الإجرامي</label>
                    <input type="hidden" name="Name"/>
                    <div class="col-md-12">
                        @Html.DropDownList("MethodsMenu", null, htmlAttributes: new {@class = "form-control select-empty"})
                    </div>
                </div>
            </form>
            
            <div class="row">
                <div class="col-md-12">
                    <hr/>
                    <h4 class="m-lr-5">نتيجة البحث</h4>
                    <hr/>
                    
                    <div class="col-md-12">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6">
                                <div class="card-box shadow-pulse">
                                    <div class="row">
                                        <div class="col-xs-4 img-rounded  pointer" style="min-height:120px; background: url('/Content/criminals/@(item.Photo+".jpg")') top no-repeat; background-size: contain">
                                        </div>
                                        <div class="col-xs-8" style="font-size: medium !important;">
                                            <div>@item.Name</div>
                                            <div><span class="fa fa-plane"></span> @item.Status</div>
                                            <div> @item.Level </div>
                                            <div><span class="fa fa-map-marker"></span>@item.Location</div>
                                            <div>@item.Other</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
@section scripts
{
     <script>
    $(function(){
    $("#MethodsMenu").on("change.select2" , function(){
            $(this).closest("input").val($(this).val());
            console.log($(this).closest("input[type='hidden']"))
            $(this).parents('form').submit();
        })
    })
   
    
    </script>
}
