﻿@model Matrix.Data.DomainClasses.Department

@{
    ViewBag.Title = _Translate.Add_New;
}


<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right ">
            @ViewBag.Title        
        </h4>
        <div class="btn-group pull-left">
            <a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Create")" title="@_Translate.CreateNew"><i class="fa fa-plus-circle"></i> @_Translate.CreateNew</a>
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Departments", FormMethod.Post, new { enctype = "multipart/form-data" })) 
        {
            @Html.AntiForgeryToken()
        
            <div class="form-horizontal">
            
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                
                
                <div class="form-group">
                    @Html.LabelFor(model => model.ParentId, null, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ParentId", null, htmlAttributes: new { @class = "form-control select " })
                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                            @Html.LabelFor(model => model.Type, null, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("Type", null, htmlAttributes: new { @class = "form-control select " })
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>
                </div>
                        
     
                
                <div class="form-group"> 
                    @Html.LabelFor(a=>a.NameAr, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control", placeholder = "NameAr in arabic" } })
                        @Html.ValidationMessageFor(model => model.NameAr, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group"> 
                    @Html.LabelFor(a=>a.NameEn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control", placeholder = "NameAr in english" , style="text-align: left !importent" } })
                        @Html.ValidationMessageFor(model => model.NameEn, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group"> 
                                    @Html.LabelFor(a=>a.GrpId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.GrpId, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                                        @Html.ValidationMessageFor(model => model.GrpId, "", new { @class = "text-danger" })
                                    </div>
                 </div>
                
                <div class="form-group"> 
                                    @Html.LabelFor(a=>a.SupervisorName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.SupervisorName, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                                        @Html.ValidationMessageFor(model => model.SupervisorName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                
                
                <div class="form-group"> 
                                    @Html.LabelFor(a=>a.SupervisorEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.SupervisorEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                                        @Html.ValidationMessageFor(model => model.SupervisorEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@_Translate.Submit" class="btn btn-primary btn-block btn-lg" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


