﻿@using Ymas.Extensions
@model IEnumerable<Matrix.Data.DomainClasses.Department>  

@{
    ViewBag.Title = "Deleted Departments";
    
}


<link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />  


<div class="panel panel-default">
    <div class="panel-heading">Departments</div>
    <div class="panel-body">
         <table class="table table-bordered table-striped">
                     <thead>
                     <tr>
                         <th>#</th>
                         <th>@Html.DisplayNameFor(model=>model.NameAr)</th>
                         <th>@Html.DisplayNameFor(model=>model.NameEn)</th>
                         <th>Sub Departments</th>
                         <th>Deleted By</th>
                         <th>Deleted time</th>
                         <th>Actions</th>
                     </tr>
                     </thead>
             <tbody>
             @foreach (var item in Model)
             {
                 var NameAr = string.Empty;
                 switch (item.Type)
                 {
                     case Constants.DepartmentType.Division :
                         NameAr = " >> " + item.NameAr;
                         break;
                         case Constants.DepartmentType.Unit:
                             NameAr = "   >>>   " + item.NameAr;
                             break;
                         default :
                             NameAr = " > "+item.NameAr;
                             break;
                 }
                                 
                 <tr>
                     <td><a href="@Url.Action("Index", new {parentId = item.Id})"><span class="fa fa-info"></span></a></td>
                     <td>@NameAr</td>
                     <td>@item.NameEn</td>
                     <td>@item.ChildDepartments.Count()</td>
                     <td>@item.DeleteByName</td>
                     <td>@item.DeleteDate.ToDatePicker()</td>
                     <td>
                         <div class="actions">
                             <button class="btn btn-sm btn-danger delete" data-Cancel="Cancel" data-SweetAlertconfirmButtonText="Yes, I'am" data-SweetAlertText="Are you to sure ?" data-SweetAlertTitle="Restore Deleted Department!" data-url="@Url.Action("Restore", new {id = item.Id})" title="Restore"><i class="fa  fa-refresh"></i></button>
                         </div>
                     </td>
                     
                 </tr>
             }
             </tbody>
                 </table>
    </div>
</div>

