﻿@model IEnumerable<Matrix.Data.DomainClasses.Department>  

@{
    ViewBag.Title = _Translate.Hierarchy;
    
    
}
<style>
    .dd-handle {
        height: 33px !important;
        }

</style>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right ">
            @ViewBag.Title        
        </h4>
        
    </div>    <div class="panel-body">


        <div class="dd" id="nestable">
            <ol class="dd-list">
                @foreach (var item in Model.Where(a => a.ParentId == null))
                {
                    <li class="dd-item" data-id="@item.Id">
                        <div class="dd-handle">@item.TrName
                            <button class="btn btn-xs btn-info pull-left m-lr-5" title="Edit" data-url="@Url.Action("Edit", new {id = item.Id})"><i class="fa  fa-edit"></i></button>
                            <button class="btn btn-xs btn-danger delete pull-left" data-url="@Url.Action("Delete", new {id = item.Id})" title="Delete"><i class="fa  fa-remove"></i></button>
                        </div>
                        @if (item.ChildDepartments.Any())
                        {
                            <ol class="dd-list">
                                @foreach (var dev in item.ChildDepartments)
                                {
                                    <li class="dd-item" data-id="@dev.Id">
                                        <div class="dd-handle">@dev.TrName
                                            <button class="btn btn-xs btn-info pull-left m-lr-5" title="Edit" data-url="@Url.Action("Edit", new {id = dev.Id})"><i class="fa  fa-edit"></i></button>
                                            <button class="btn btn-xs btn-danger delete pull-left" data-url="@Url.Action("Delete", new {id = dev.Id})" title="Delete"><i class="fa  fa-remove"></i></button>
                                        </div>
                                        @if (dev.ChildDepartments.Any())
                                        {
                                            <ol class="dd-list">
                                                @foreach (var un in dev.ChildDepartments)
                                                {
                                                    <li class="dd-item" data-id="@un.Id">
                                                        <div class="dd-handle">@un.TrName
                                                            <button class="btn btn-xs btn-info pull-left m-lr-5" title="Edit" data-url="@Url.Action("Edit", new {id = un.Id})"><i class="fa  fa-edit"></i></button>
                                                            <button class="btn btn-xs btn-danger delete pull-left" data-url="@Url.Action("Delete", new {id = un.Id})" title="Delete"><i class="fa  fa-remove"></i></button>
                                                            </div>
                                                    </li>
                                                }

                                            </ol>
                                        }
                                    </li>
                                }

                            </ol>
                        }
                    </li>
                }


            </ol>
        </div><!-- dd -->
        
    </div>
</div>

@section scripts{
    <script src="~/js/jquery.nestable.min.js"></script>
    <script>
        $(function()	{
            $('.dd').nestable();
        });
    </script>
}