﻿
@{
    ViewBag.Title = "Error";
    Layout = "_Layout";
}

<div class="padding-md" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
            <div class="h3">@TempData["ErrorMsg"]</div>
            <h1 class="m-top-none error-heading">@TempData["ErrorCode"]</h1>

            <h4>@_Translate.CanNotFindWhatYouNeed</h4>
            <a class="btn btn-success m-bottom-sm" href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> @_Translate.BackToDashbord</a>
            <a class="btn btn-success m-bottom-sm" href="@Url.Action("Contact","Home")"><i class="fa fa-envelope"></i> @_Translate.ContactUs</a>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.padding-md -->


<h1 class="m-top-none error-heading">@TempData["Message"]</h1>