@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o8jngl');
  src:  url('../fonts/icomoon.eot?o8jngl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o8jngl') format('truetype'),
    url('../fonts/icomoon.woff?o8jngl') format('woff'),
    url('../fonts/icomoon.svg?o8jngl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-referee:before {
  content: "\e900";
}
