﻿@import "table";
@import "myIcons";
@import "../vendors/toast/jquery.toast";

html {
  position: relative;
  min-height: 100%;
  margin: 0;
}

body {
  padding-top: 0;
  font-size: 12pt;
  color: #777;
  background: #f9f9f9;
  margin: 0 0 50px;
}

.text-yellow {
  color: yellow !important
}

.custom-modal-title {
  font-family: H3, sans-serif
}

.table-shadow {
  -webkit-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.75);
}

input[type='button'], input[type='submit'] {
  @extend .btn;

  @extend .btn-primary;
  @extend .btn-block;

}

.form-control {
  height: 40px;
}

img {
  @extend .img-responsive;
}

.btn-add {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
  @extend .m-b-5;

  > span {
    @extend .fa;
    @extend .fa-plus-square;
  }
}

.btn-add-default {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-sm;
  @extend .m-b-5;

  > span {
    @extend .fa;
    @extend .fa-plus-square;
  }
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.btn-del {
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-sm;

  @extend .m-b-5;

  > span {
    @extend .fa;
    @extend .fa-remove;
  }
}

.btn-edit {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-success;
   
  @extend .m-b-5;

  > span {
    @extend .fa ;
    @extend .fa-edit;
  }
}

.btn-details {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-info;

  @extend .m-b-5;

  > span {
    @extend .fa ;
    @extend .fa-search;
  }
}

.btn-back {
  @extend .btn;
  @extend .btn-primary;
  color: white !important;
  @extend .btn-sm;
  > span {
    @extend .fa ;
    @extend .fa-reply;
  }
}

#sidebar-menu > ul > li > a {
  color: #fff;
  border-right: 2px solid transparent;
  display: block;
  padding: 12px 25px;
  background-color: #415464;
  margin-top: 1px;
}

//.table {
//  > thead {
//    > tr {
//      th {
//        background-color: #3bafda;
//        color: #fff;
//        font-weight: bold;
//      }
//    }
//  }
//
//}

.table {
  td {
    vertical-align: middle !important;
  }
  &.table-no-boarder {
    border: none !important;
    thead {
      border: none !important;
    }
    tbody {
      border: none !important;
    }
    tr {
      border: none !important;
      td {
        border: none !important;
        vertical-align: middle;
      }
      th {

        border: none !important;
        vertical-align: middle;
      }
    }
  }
}



h4.modal-title {
  font-family: H3, sans-serif;
  font-weight: bold

}



.custombox-modal-wrapper {
  outline: 0;
  overflow: auto;
  text-align: right;
}





.header-title {
  font-family: H3, sans-serif
}

//dropzone
.dropzone .dz-preview .dz-error-message {
  top: 150px !important;
}

.tabs-vertical-env .nav.tabs-vertical li > a {
  color: #333333;
  text-align: center;
  font-family: "Droid Normal", sans-serif;
  font-weight: 500;
  white-space: nowrap;
}



.pricing-column .inner-box {
  position: relative;
  padding: 0 0 0;
}

.typeahead {
  z-index: 1051;
}

.pointer {
  cursor: pointer !important
}

.nav.nav-tabs > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333 !important;
  cursor: pointer;
  line-height: 50px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  font-family: H3, sans-serif;
}

.pricing-column {
  position: relative;
  margin-bottom: 0;
}

.nav.nav-tabs > li.active > a {
  color: #3bafda !important;
}

.nav.nav-tabs > li > a {
  background-color: #3bafda;
  border-radius: 0;
  border: none;
  color: #fff !important;
  cursor: pointer;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: H3, sans-serif;
  font-weight: bold;
  > :hover {
    color: #415464
  }
}

#sidebar-menu ul ul li {
  > :hover {
    background-color: black;
  }
  .active {
    background-color: black;
  }
}

.nav > li > a.lang {
  line-height: 20px;
  margin-top: 25px;
  padding: 0 35px 0 10px;
}

.nav > li > a.lang.ar {
  background: url("../images/uaeflagicon.png") right no-repeat;
}

.nav > li > a.lang.en {
  background: url("../images/usicon.png") right no-repeat;
  text-align: left

}

/* preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.8;
}

#status {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  font-size: 32px;
}

/*select2 override*/
.select2 {
  width: 100% !important
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.brand {
  color: #fff !important;
}

.grey-container {
  padding: 0 15px 0 15px !important;
}

.detail {
  line-height: 40px;
  overflow: hidden;
}

.card-box {
  padding: 20px;
  border: 1px solid rgba(54, 64, 74, 0.08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.bg-inverse {
  background-color: #4c5667 !important;
}

.widget-simple-chart .circliful-chart {
  float: right;
  margin-top: -5px;
}

.text-yellow {
  color: yellow !important;
}

.text-white {
  color: white !important;
}

.text-nowrap {
  white-space: nowrap;
}

#HomeStandads {
  .card-box:hover {
    @extend .bg-info !optional;

    > .text-success {
      color: white !important;
    }
  }
}

.text-success {
  color: #00b19d !important;
}

body {
  font-size: 12pt !important;

}

.PageTitle {
  //padding:15px;
  margin-bottom: 5px;
  height: 50px;
  line-height: 40px;
  > span {
    font-size: 13pt;
    font-weight: bold;
  }
  > button, a {
    margin-right: 3px;
  }

}

.uneditable-input, input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  font-size: 14px !important;
  font-weight: normal;
}

.relative {
  position: relative !important;
}

.tap-bar li a {
  background-color: #f9f9f9;
  color: #495b6c !important
}

.tap-bar li.active a {
  background-color: #FFFFFF !important;
  color: #495b6c !important
}

button, input, label, select, textarea.form-control {
  font-size: 12pt;
}

.pinter {
  cursor: pointer !important;
}

.validation-summary-errors ul {
  list-style: none;
}

.actions {
  text-align: center;
  white-space: nowrap;
  > button, a {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.tdactions {
  width: 5% !important;
}

.error {
  font-style: normal;
  font-weight: normal;
  border-color: red !important;
  color: red !important;

}

.label-radio {
  font-weight: normal !important;
}

.control-label {
  //white-space: nowrap !important;
}

// Panales overriding 
.panel-primary > .panel-heading {
  color: #fff;
  // background-color: #337ab7;

  border-color: #337ab7;
  > .panel-title {
    font-weight: 900;
    font-size: large;
    text-shadow: -1px 0 2px rgba(150, 150, 150, 1);
  }
}

div.panel-inverse h3, div.panel-inverse h2, div.panel-inverse h4 {
  color: #333333 !important;
}


.panel-default .panel-heading{
  color: #fff !important;
  background: #485b6b !important;
  border-top: 8px solid #00a69c !important;
}

.panel {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

/*this class define the panel that should not has back button*/
.no-back {
}

.notifyjs-corner {
  z-index: 9999999;
}


//set to dropselectmenu to detect as required by form validation 
.required{}


.errorContainer{
  @extend .alert;
  @extend .alert-warning;
}

.m-rl-5{
   margin-left: 5px !important;
   margin-right: 5px !important;
 }
.m-lr-5{
  margin-left: 5px !important;
  margin-right: 5px !important;
}

// fix appearance of datepicker widget when shown inside colobox
.ui-widget{
  z-index: 1200 !important;
}

// override datatable width and force width 100%
.dataTable{width: 100% !important}

// selec2 group item 
.select2-container--default .select2-results__group{
  font-style: italic;
  background-color: #485b6b;
  color: white;
}



.select-empty{}
.required{}

.panel-heading{
  .btn-primary {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
  }
}

// .panel-body{
//  overflow: auto;
// }

.center{
 // @extend .center-block;
  div , input,select,textarea,ul{
    text-align: center !important;
  }
  >img{
    margin:0 auto;
  }
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.center , td.center , th.center , input.center{
  text-align: center;
}

.footer {
  background-color: #424f63 !important;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow:hidden;
  color: white;
  padding: 15px 15px;
  margin-right: 194px;
  clear: both;
}

tr.center td,th{
  text-align: center !important;
}

tr.bg-warning {
  .even , .odd{
   background-color: #f3ce85 !important;
  }
  td{
    background-color: #f3ce85 !important;
  }
    color : #333 !important;
    a{
      color: #333 !important;
  }
 
}
.select2-container--open{
  z-index: 9999;
}

.input-validation-error{
  border: 1px red solid !important;
}

ul.dt-button-collection{
  li{
    margin:5px;
    a{
      border:1px solid #ccc;
      padding:5px;
      color:#1a1a1a;
      background: white;
    }
    
    a.active{
      color:#fff;
      background: #1a1a1a;
    }
  }
}

.list-group{
  a{
    overflow: hidden;
  }
}

// bootstrap gird 5th columns
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}



@media (max-width: 480px) {
  .footer{
    margin-right:0;
  }
 }
@media (min-width: 481px) and (max-width: 550px) {

 }
@media (min-width: 551px) and (max-width: 600px) {

}
@media (min-width: 601px) and (max-width: 670px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 868px) {
  .panel-stat2 {
    .title {
      font-size: 1vw;
    }
    .value{
      font-size: 4vw;
    }
    .stat-icon{
      font-size: 3vw;
    }
  }
}

.img-profile {
  position: relative;
  width:  100px;
  height: 100px;
  background-position: 50% 0;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.font-18{
  font-size: large;
  font-weight: bolder;
}