/*datatable overrid*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  border-radius: 0 !important ;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 0;
}

.dataTables_wrapper .dataTables_info {
  margin-top: 10px;
  clear: none;
  float: left;
}


#datatables
{
  .dt.dataTable thead > tr > th {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}





.table
{
  thead {
    color: #fff;
    background: #04a59c;
    //border-top: 8px solid #00a69c;
    padding: 0.625em 15px;
    tr > th {
      vertical-align: middle;
      border-bottom: 2px solid #ddd;
    }
  }

   div.actions {
     white-space: nowrap;
     > button, a {
       margin-left: 3px;
       margin-right: 3px;
     }
   }
}


