﻿@model Matrix.Data.DomainClasses.ApplicationUser

@{
    ViewBag.Title = "حذف المستخدم";
}


<h3>هل أنت متأكد من عملية الحذف؟</h3>
<div>
    <h4>اسم المستخدم : @Model.UserName</h4>
    


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center ">
            <input type="submit" value="حذف" class="btn btn-danger " /> |
            @Html.ActionLink("رجوع", "Index", "Account")
        </div>
    }
</div>
