﻿@model Matrix.Models.EditPasswordModelView

@{
    ViewBag.Title = "تعديل كلمة المرور";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserID)



        <div class="form-group">
            @Html.Label("كلمة المرور الجديدة", null, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-darkblue" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("رجوع", "Index","Account")
</div>


