﻿@model IEnumerable<Matrix.Models.AccountViewModels.UsersList>

@{
    int counter = 1;

    ViewBag.Title = _Translate.System_Users;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-right">
            @ViewBag.Title
        </h4>
        <div class="btn-group pull-left">
            <a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Create")" title="@_Translate.CreateNew">
                <i class="fa fa-plus-circle"></i> @_Translate.CreateNew</a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table dt table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>
                    @_Translate.UserName
                </th>
                <th>
                    @_Translate.Full_Name
                </th>

                <th>
                    @_Translate.RegisterDate
                </th>
                <th>
                    @_Translate.Permissions
                </th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                   
                    <td>
                        @item.RegisterDate
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roles)
                    </td>
                    <td nowrap class="text-left" width="5%">
                        <a class="btn-edit" href="@Url.Action("EditRegister", "Account", new {id = item.UserId})">
                            <span></span>
                        </a>
                        <a onClick="return confirm('@_Translate.Confirm_Deletion')" class="btn-del" href="@Url.Action("Delete", "UsersAdmin", new {id = item.UserId})">
                            <span></span>
                        </a>
                    </td>
                </tr>
                counter += 1;
            }
            </tbody>
        </table>

    </div>
</div>

