﻿@model IEnumerable<Matrix.Data.DomainClasses.Role>
@{
    ViewBag.Title = _Translate.Manage_Permissions;
}


<div class="panel panel-default">
    <div class="panel-heading clearfix">
    <h4 class="panel-title pull-right ">
        @_Translate.Manage_Permissions
        </h4>
                <div class="btn-group pull-left">
            @*<a class="btn btn-sm btn-primary navbar-btn pull-left" href="@Url.Action("Create")" title="@_Translate.CreateNew"><i class="fa fa-plus-circle"></i> @_Translate.CreateNew</a>*@
        </div>
    </div>
    <div class="panel-body">
        <table class="table dt table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    @_Translate.RoleName
                </th>
                <th>
                    @_Translate.Description
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>@item.Description</td>
                    <td>
                        @Html.ActionLink(_Translate.Edit, "Edit", new { id = item.Id }) |
                        @Html.ActionLink(_Translate.Delete, "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>

